### Jetbrains ###
.idea/
.build/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# flutter produced
.flutter-plugins-dependencies
.dart_tool
build

# signing keys
**/*.jks
**/*.keystore